[Unit]
Description=Executes the systemfile-vault-backup service every hour.
 
[Timer]
OnBootSec=11min
OnUnitActiveSec=15min
  
[Install]
WantedBy=timers.target
