[Unit]
Description=Executes the userfile-vault-backup service every hour.
 
[Timer]
OnBootSec=14min
OnUnitActiveSec=15min
  
[Install]
WantedBy=timers.target
