[Unit]
Description=User Files Backup to Vault.lan
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -auvK --files-from=/home/%i/.config/rsync/user-files.lst pi@vault.lan::user-configs-sync /home/%i
ExecStartPost=/home/%i/.config/rsync/aftersync.sh %i

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

[Install]
WantedBy=default.target
